@import '../../assets/css/index.scss';
.handle_img1 {
    width: 50%;
    position: absolute;
    box-sizing: content-box;
    box-shadow: 0px 0px 0px 1px #41af9d;
}

.handle_img2 {
    width: 50%;
    position: absolute;
    box-sizing: content-box;
    box-shadow: 0px 0px 0px 1px #41af9d;
}

.handle_img3 {
    width: 50%;
    position: absolute;
    box-sizing: content-box;
    box-shadow: 0px 0px 0px 1px #41af9d;
}

.ico_img {
    opacity: .9;
}

textarea {
    resize: none;
    overflow: hidden;
}

.input1 {
    position: absolute;
    width: 48%;
    height: 0.7rem;
    line-height: 0.7rem;
    left: 50%;
    top: 0;
    background: transparent;
    border: none;
    text-align: left;
    color: #f95d7a;
    font-size: 0.5rem;
    white-space: nowrap;
    // overflow: hidden;
}

.input2 {
    position: absolute;
    width: 57%;
    height: 0.7rem;
    line-height: 0.7rem;
    left: 38%;
    top: 0;
    background: transparent;
    border: none;
    text-align: left;
    color: #7a7a7a;
    font-size: 0.5rem;
    white-space: nowrap;
    // overflow: hidden;
}

.input3 {
    position: absolute;
    width: 67%;
    height: 0.67rem;
    line-height: 0.67rem;
    left: 25%;
    top: 0;
    background: transparent;
    border: none;
    text-align: left;
    color: #cccccc;
    font-size: 0.45rem;
    white-space: nowrap;
    // overflow: hidden;
}

.input4 {
    position: absolute;
    width: 78%;
    height: 0.6rem;
    line-height: 0.6rem;
    left: 15%;
    top: 0.05rem;
    background: transparent;
    border: none;
    text-align: left;
    color: #fff;
    font-size: 0.45rem;
    // white-space: nowrap;
    // overflow: hidden;
}

.input5 {
    position: absolute;
    width: 79%;
    height: 1.8rem;
    left: 10%;
    top: 0.45rem;
    background: transparent;
    border: none;
    text-align: center;
    color: #edca56;
    font-size: 0.65rem;
    // white-space: nowrap;
    // overflow: hidden;
    transform: rotate(6deg);
}

.input6 {
    position: absolute;
    width: 90%;
    height: 0.7rem;
    line-height: 0.7rem;
    left: 4%;
    top: 17%;
    background: transparent;
    border: none;
    color: #ff0f00;
    font-size: 0.45rem;
    white-space: nowrap;
    // overflow: hidden;
}

.input7 {
    position: absolute;
    width: 83%;
    height: 1rem;
    line-height: 1rem;
    left: 7%;
    top: 1.1rem;
    background: transparent;
    border: none;
    text-align: center;
    color: #9d4646;
    font-size: 0.75rem;
    white-space: nowrap;
    // overflow: hidden;
}

.input8 {
    position: absolute;
    width: 96%;
    height: 3rem;
    left: 2%;
    top: 0.3rem;
    background: transparent;
    border: none;
    text-align: left;
    color: #2c67d4;
    font-size: 0.65rem;
    // white-space: nowrap;
    // overflow: hidden;
}

.input9 {
    position: absolute;
    width: 73%;
    height: 1rem;
    left: 24%;
    top: 0.4rem;
    background: transparent;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 0.75rem;
    line-height: 1rem;
    white-space: nowrap;
    // overflow: hidden;
}

.input10 {
    position: absolute;
    width: 57%;
    height: 2rem;
    left: 21%;
    top: 1.2rem;
    background: transparent;
    border: none;
    text-align: center;
    color: #3f3518;
    font-size: 0.65rem;
    // white-space: nowrap;
    overflow: hidden;
    font-weight: 900;
}

.input11 {
    position: absolute;
    width: 90%;
    height: 0.7rem;
    line-height: 0.7rem;
    left: 4%;
    top: 17%;
    background: transparent;
    border: none;
    color: #000;
    font-size: 0.45rem;
    white-space: nowrap;
    // overflow: hidden;
}

.edit_yidong,.edit_fanzhuan {
    position: absolute;
    width: px(38);
    top: px(-19);
    left: px(-19);
}

.edit_close {
    position: absolute;
    width: px(38);
    top: px(-19);
    right: px(-19);
}

.edit_rotate {
    position: absolute;
    width: px(38);
    bottom: px(-19);
    right: px(-19);
}
